.container {
    max-width: 1200px;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 23px;
}

.link {
    padding: 10px;
    margin: 0 16px;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #18181B;
}

.link:nth-child(2) {
    margin-left: 32px;
    color: #71717A;
}

.crypto_row{
    display: flex;
}

.crypto{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #e0e0e0; 
}

.lastprise{
    position: relative;
    right: 16px;
}

.changelast{
    position: relative;
    right: 37px;
}

.marketlast{
    position: relative;
    right: 49px;
}

 .token, .price, .change, .market_cup {
flex-grow: 1;
flex-basis: 0;
display: flex;
align-items: center;
font-family: Lexend;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
 }

.token-name{
    margin-left: 8px;
    font-family: Lexend;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

 .crypto-buy {
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
    width: 56px;
    height: 33px;
    border-radius: 4px;
    background-color: #9AFD4C;
    color: #080808;
    font-family: Lexend;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1px;
    border: none;
    margin-top: 20px;
 }


 .crypto-buy1 {
    border-top: 2px solid #e0e0e0;
 }


.positive-change {
    color: #10B981; 
}

.negative-change {
    color: #F43F5E; 
}



.icons {
    display: flex;
    justify-content: center;
    border-top: 2px solid #e0e0e0; 
}

.icons img {
    width: 24px;
    height: 24px;
    margin-top: 23px;
}

.foto2 {
    position: relative;
    left: -8px;
}

.foto3 {
    position: relative;
    left: -16px;
}

.foto4 {
    position: relative;
    left: -24px; 
}

.btn-vien {
    display: flex;
    margin-top: 23px;
   
}

.view-all-markets {
    font-family: Lexend;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #18181B;
    
}