body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: #B0C6FF;
}

.card {
    display: inline-block;
    width: 255px; 
    height: 327px; 
    margin: 10px;
    vertical-align: top;
    box-sizing: border-box;
    border: 3px solid #000000;
    text-align: center;
    background-color: #fff; 
    padding-bottom: 20px; 
    position: relative; 
}

.title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    color: white;
}

.img {
    padding-top: 20px;
}

h3, p {
    font-family: Inter;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0; 
    color: black;
}

.name {
    font-weight: 700;
}

.description {
    width: 218.72px;
    height: 45px;
    padding-top: 20px;
    padding-left: 19px;
}

button {
    background-color: #6177EB;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}
