body {
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.card {
    display: inline-block;
    width: 255px; 
    height: 327px; 
    margin: 10px;
    vertical-align: top;
    box-sizing: border-box;
    border: 3px solid #000000;
    text-align: center;
    background-color: #fff; 
    padding-bottom: 20px; 
    position: relative; 
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
    text-align: center;
    color: white;
}

h3 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

button {
    background-color: #6177EB;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}
