body{
    background-color: #EFEFF2;
    margin: 0;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
 }
 
 .container{
     width: 1448px;
     margin: 0 auto;
 }
 
 .header{
  display: flex;
  padding: 36px 0 0;
  justify-content: space-between;
 }
 
 .header-box{
     display: flex;
     align-items: center;
     gap: 68px;
 }
 
 .nav_list{
     display: flex;
     list-style: none;
     gap: 48px;
     padding: 0;
     margin: 0;
     font-size: 18px;
     line-height: 22px;
     font-weight: 600;
    
 }
 
 .btn-box{
     display: flex;
     gap: 48px; 
     align-items: center;
 }
 
 .logo{
   font-weight: 800;
   font-size: 24px;
   line-height: 30px; 
   display: flex;
   gap: 14px;
   align-items: center;
   color: #19191C;
   text-decoration: none;
 }
 
 .link{
     color: #19191C;
     text-decoration: none;
 }
 
 .heder-link{
     color: #19191C;
     font-size: 18px;
     line-height: 22px;
     font-weight: 600;
     text-decoration: none;
 }
 
 .heder-btn{
     background: #19191C;
     color: #EFEFF2;
     padding: 12px 37 px;
     text-decoration: none;
     font-size: 18px;
     line-height: 22px;
     font-weight: 600;
     
 }
 
 .offer{
     display: flex;
     justify-content: space-between; 
 }
 
 .offer_holder{
     width: 648px;
 }
 
 .offer_title{
     font-size: 58px;
     line-height: 70px;
     font-weight: 700;
 }
 
 .footer{
     background: #19191C;
     
 }
 
.footer__content{
    display: flex;
    justify-content: space-between;
}
 
.container{
    width: 1148px;
    margin: 0 auto;
}

.information a{
    display: flex;
    color: #FBFBFC;
    gap: 14px;
    align-items: center;
}

.sitemap{
    color: #EFEFF2;
    
    
    
    }
    
    .sitemap_title{
        font-weight: 600;
        font-size: 18px;
        line-height: 21.78px;
        text-decoration: none;
        padding-top: 68px;
        margin: 0;
        
    }
    
    
    .list{
        color: #EFEFF2;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        text-decoration: none;
          
    }
    
    .sitemap_list{
        list-style: none;
        padding: 0;
    }
    
    .logo_footer{
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        padding: 57px 29.4px;
        text-decoration: none;
       
       
    }

    .Copyright{
        text-align: center;
    }

    .Copyright a, .Copyright p {
        display: inline-block;
        vertical-align: middle; 
        color: #6D6D77;
        
        text-decoration: none; 
    }

