.header {
    background-color: black;
    padding: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    font-family: Inter;
    font-size: 24px;
}

.nav-link, .policy-link {
    color: #717171;
    text-decoration: none;
    padding: 15px;
}

.nav-contact, .footer-contact {
    color: #717171;
    font-family: Inter;
    font-size: 20px;
}

.nav-logo {
    margin-right: 187px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .nav {
        flex-direction: column; 
        align-items: center; 
    }

    .nav-list {
        margin-top: 25px; 
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav-logo {
        order: -1; 
        margin: 0 auto;
    }

    .nav-contact {
        text-align: center;
        margin-top: 20px;
        color: #cbeb1a;
    }
}

@media screen and (max-width: 480px) {
    .nav-logo {
        margin-top: 0; 
        margin: 0 auto;
        order: -1; 
        margin-bottom: 20px; 
    }
}

.main-content-page-one {
    max-width: 100%;
    text-align: center;
}

.main-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    color: #5C00B8;
    margin-bottom: 40px;
    padding-top: 71px;
    text-transform: uppercase;
}

.bloc-gren {
    max-width: auto; 
    margin: 0 auto; 
    background-color: #CBCBCB;
}

.main-img {
    margin-bottom: 40px;
    padding-top: 20px;
}

.main-img img {
    max-width: 100%;
    height: auto;
}


.img-logo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-14pro button {
    width: 350px;
    height: 70px;
    background-color: #490E84;
    color: white;
    border: none;
    font-family: Inter;
    font-size: 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .main-img {
        max-width: 100%; 
        height: auto; 
    }

    .bloc-gren {
        width: auto; 
        margin: 0 auto; 
    }

    .main-title {
        font-size: 48px;
        line-height: 58.08px;
    }

    .btn-14pro button {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }

    .img-logo {
        
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .main-title {
        font-size: 32px;
        line-height: 38.73px;
    }

    .btn-14pro button {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
}

.title-two {
    text-align: center; 
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    margin-top: 70px;
    color: #717171;
    text-transform: uppercase;
}

.card-page-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card h3 {
    margin: 0;
    margin-top: 20px;
}

.card-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.card-discription {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: black;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 70px;
}

@media (max-width: 800px) {
    .card {
        width: calc(33% - 20px);
        padding: 15px;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(95% - 20px);
        margin-left: 23px;
    }
}

.content-wraper {
    display: flex;
   max-width: 1200px;
   margin: 0 auto;
}

.order-form {
    align-items: center;
    padding: 40px;
    background-color: #574B63;
    flex-basis: 0;
    flex-grow: 1;
}


.order-form-img {
    flex-basis: 0;
    flex-grow: 1;
}


.question {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
    margin-top: 70px;
}

.label-name {
    display: block;
    color: #f8eeee;
    margin-bottom: -1px;
}

input[type="text"],
input[type="tel"] {
    border: none;
    border-bottom: 1px solid #faf7f7;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
}

.help {
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #FFFFFF;
}

button {
    width: 240px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    color: #490E84;
}

.btn-btn-submit {
    text-align: center;
    margin-top: 30px;
}

button:hover {
    background-color: #45a049;
}

.img-logo-ipone {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

@media screen and (max-width: 800px) {
    .content-wraper {
        flex-direction: column;
    }

    .order-form {
        max-width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .form-group {
        margin-bottom: 20px;
    }
}

.footer {
    background-color: black;
    padding: 40px;
}

.policy-link {
    flex-direction: column;
    color: #FFFFFF;
}

.footer-contact {
    color: #FFFFFF;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        order: 1;
        margin: 0;
    }

    .footer-contact, .policy {
        margin-top: 10px;
    }
}
