
.header {
    background-color: black;
    padding: 40px;
  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.nav-list {
    display: flex;
    font-family: Inter;
    font-size: 24px;
}

.nav-link, .policy-link {
    color: #717171;
    text-decoration: none;
    padding: 15px;
}

.nav-contact, .footer-contact {
    color: #717171;
    font-family: Inter;
    font-size: 20px;
}
 .nav-logo {
    margin-right: 187px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

/* Медіа-запит для планшетів */
@media screen and (max-width: 800px) {
    .nav {
        flex-direction: column; 
        align-items: center; 
    }

    .nav-list {
        margin-top: 10px; 
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
        
    .nav-logo {
        order: -1; 
        
       margin: 0 auto;
    }

   

    .nav-contact {
        text-align: center;
        margin-top: 10px;
        color: #cbeb1a;
    }


}

/* Медіа-запит для мобільних пристроїв */
@media screen and (max-width: 480px) {
    .nav-logo {
        margin-top: 0; 
        margin: 0 auto;
        order: -1; 
        margin-bottom: 20px; 
    }
}

.main-content-page-one {
    background-color: #CBCBCB;
    width: 100%;
    text-align: center;
}


.main-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    color: #5C00B8;
    margin-bottom: 40px;
    padding-top: 71px;
    text-transform: uppercase;
   
    
}

.main-img {
    margin-bottom: 40px;
    padding-top: 20px;
}

.main-img img {
    display: block;
    margin: 0 auto; 
    
}

.btn-14pro button {
    width: 350px;
    height: 70px;
    background-color: #490E84;
    color: white;
    border: none;
    font-family: Inter;
    font-size: 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

@media screen and (max-width: 800px) {
    .main-img {
        max-width: 100%; 
        height: auto; 
        
    }


    
    .bloc-gren {
        width: 100%; 
        margin: 0 auto; 
        background-color: #CBCBCB;
    }

    .main-title {
        font-size: 48px;
        line-height: 58.08px;
    }

    .btn-14pro button {
        width: 250px;
        height: 50px;
        font-size: 18px;
    }
    .img-logo {
        max-width: 100%;
        display: block; 
        margin: 0 auto; 
    }

}


/* Стили для мобильных устройств */
@media screen and (max-width: 480px) {
    .main-title {
        font-size: 32px;
        line-height: 38.73px;
    }

    .btn-14pro button {
        width: 200px;
        height: 40px;
        font-size: 14px;
    }
}



.title-two {
    text-align: center; 
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    margin-top: 70px;
    color: #717171;
    text-transform: uppercase;

}

.card-page-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
   
}
.card {
    width: calc(25% - 20px); /* Задаємо ширину кожної картки, віднімаючи відступи */
    margin-bottom: 20px;
    box-sizing: border-box; /* Щоб врахувати padding та border у розрахунку ширини */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Вирівнюємо контент по вертикалі */
    text-align: center; /* Вирівнюємо текст по горизонталі */
}

.card h3 {
    margin: 0; /* Видаляємо зовнішні відступи у тексту */
    margin-top: 20px;
}

.card-discription {
    margin-top: 10px;
}


.card-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: black; /* Цвет текста черный */
    margin-top: 20px; /* Добавляем отступ сверху */
    text-align: center; 
    
}

.card-discription {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: black; /* Цвет текста черный */
    margin-top: 10px; /* Добавляем небольшой отступ сверху */
    text-align: center; 
    margin-bottom: 70px;
}

@media (max-width: 800px) {

    .card {
        width: calc(45% - 20px); /* Задаємо ширину кожної картки на планшетах */
        padding: 15px;
        box-sizing: border-box; /* Щоб врахувати padding та border у розрахунку ширини */
   
     
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(95% - 20px); /* Задаємо ширину кожної картки на мобільних пристроях */
    }
}



.content-wraper {
    display: flex; /* Встановлення контейнера flexbox */
    justify-content: center;
    width: 100%; /* Забирає всю доступну ширину */
    flex: 1;
}


.order-form {
    align-items: center; /* Центрируем содержимое по горизонтали */
    padding: 40px;
    background-color: #574B63;
    max-width: 600px;
}

.question {
color: #FFFFFF;
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 38.73px;
text-align: center;
margin-top: 80px;

}


.form-group {
    margin-bottom: 20px;
    margin-top: 70px;
}

/* Стилі для етикетки */
.label-name {
    display: block; /* Зробити етикетку блоковим елементом */
    color: #f8eeee; /* Колір тексту етикетки */
    margin-bottom: -1px; /* Встановити відстань між етикеткою і полем вводу */


}


input[type="text"],
input[type="tel"] {
    border: none; /* Видалити рамку */
    border-bottom: 1px solid #faf7f7; /* Додати нижнє підкреслення */
    background-color: transparent; /* Зробити фон прозорим */
    outline: none; /* Видалити контур */
    width: 100%;
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
}


.help {
    text-align: center;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
color: #FFFFFF;


}
button {
   
width: 240px;
height: 50px;
border-radius: 30px 30px 30px 30px;
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 18.2px;
color: #490E84;


}



.btn-btn-submit {
   text-align: center;
    margin-top: 30px; /* Добавляем небольшой отступ между формой и кнопкой */
}

button:hover {
    background-color: #45a049;
}


@media screen and (max-width: 800px) {
    .content-wraper {
        flex-direction: column; /* Змінюємо напрямок флексбокса на вертикальний */
       
    }

    .order-form {
        margin-bottom: 10px; /* Додаємо відступ вниз для зручного читання */
    }


}
@media screen and (max-width: 480px) {
    .form-group {
        margin-bottom: 20px; /* Збільшуємо відступ між полями форми */
    }
}



.footer {
    background-color: black;
    padding: 40px;
  
   
}

.footer-info {
    display: flex;
  justify-content: space-between;
    align-items: center;
}



.policy-link {
    flex-direction: column;
    color: #FFFFFF; 
    
}
.footer-contact {
    color: #FFFFFF;
    
   
}


@media screen and (max-width: 767px) {
    .footer-info {
        flex-direction: column; /* Располагаем элементы вертикально на мобильных устройствах */
        align-items: center; /* Выравниваем элементы по центру */
    }

    .logo-footer {
        order: 1; /* Помещаем логотип в конец строки */
        margin: 0; /* Сбрасываем отступы */
    }

    .footer-contact, .policy {
        margin-top: 10px; /* Пространство между элементами */
    }
}